<!DOCTYPE html>
<html>

<head>
    <title>Flash Cards</title>
    <!-- We've provided some styles for you, aren't we nice? -->
    <link rel="stylesheet" type="text/css" href="/styles/reset.css" />
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <script src="/js/angular.js"></script>
</head>

<body ng-app="flashCards" ng-cloak>
    <div ng-controller="StatsController" id="statistics">
        <div id="scoreboard">
            <h3>Correct: <span>{{ scores.correct }}</span></h3>
            <h3>Incorrect: <span>{{ scores.incorrect }}</span></h3>
        </div>
    </div>

    <div ng-controller="NewCardController">
        <form name="newCardForm" ng-submit="newCardForm.$valid && addCard(newCard) && reset()" novalidate>
            <p>Question:</p>
            <p ng-show="newCardForm.question.$error.required && newCardForm.$submitted">Question is a required field</p>
            <p ng-show="newCardForm.question.$error.minlength && newCardForm.$submitted">Question is too short</p>

            <input type="text" name="question" ng-model="newCard.question" ng-minlength="15" required />

            <p>Category:</p>
            <p ng-show="newCardForm.category.$error.required && newCardForm.$submitted">Category is a required field</p>
            <select name="category"
                    ng-model="newCard.category" 
                    ng-options="category as category for category in categories" 
                    ng-change="setCategory(category)" required>
            </select>

            <p>Answer:</p>
            <ul>
                <li>
                    <p ng-show="newCardForm.answer1.$error.maxlength && newCardForm.$submitted">Answer is too long</p>
                    <input type="checkbox" ng-model="newCard.answers[0].correct" value="" />
                    <input type="text" name="answer1" ng-model="newCard.answers[0].text" ng-maxlength="40" /></p>
                </li>
                <li>
                    <p ng-show="newCardForm.answer2.$error.maxlength && newCardForm.$submitted">Answer is too long</p>
                    <input type="checkbox" ng-model="newCard.answers[1].correct" value="" />
                    <input type="text" name="answer2" ng-model="newCard.answers[1].text" ng-maxlength="40" /></p>
                </li>
                <li>
                    <p ng-show="newCardForm.answer3.$error.maxlength && newCardForm.$submitted">Answer is too long</p>
                    <input type="checkbox" ng-model="newCard.answers[2].correct" value="" />
                    <input type="text" name="answer3" ng-model="newCard.answers[2].text" ng-maxlength="40" /></p>
                </li>
            </ul>
            
            <input type="submit" id="submit" value="Submit"/>

            <pre> {{ newCard | json }}</pre>
         </form>
    </div>

    <div ng-controller="MainController">
        <div class="cats">
            <button border-hover ng-repeat="category in categories" class="category-button" ng-click="getCategoryCards(category)" ng-class="{ active: category === selectedCategory }">{{ category }}</button>
            <button class="category-button" ng-click="getCategoryCards()" ng-class="{ active: selectedCategory === undefined }">All</button>
            <loader ng-show="loading"></loader>
        </div>
        <flash-card card="flashCard" ng-hide="loading" ng-repeat="flashCard in flashCards | orderBy : 'question'"></flash-card>
        <script src="/js/app.js"></script>
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/js/controllers/main.controller.js"></script>
        <script src="/js/controllers/score.controller.js"></script>
        <script src="/js/controllers/newcard.controller.js"></script>
        <script src="/js/factories/flashcard.factory.js"></script>
        <script src="/js/factories/score.factory.js"></script>
        <script src="/js/directives/loader/loader.js"></script>
        <script src="/js/directives/flashcard/flashcard.js"></script>
        <script src="/js/directives/boldborder/boldborder.js"></script>
</body>

</html>
